.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: 120px 100px 100px 100px 100px 100px;
  grid-gap: 2px;
}

/* one */
.one127{
  grid-area: 1 / 1 / 2 / 7;
}
.one123 {
  grid-area: 1 / 1 / 2 / 3;
}
.one224{
  grid-area: 1 / 2 / 2 / 4;
}
.one428 {
  grid-area: 1 / 4 / 2 / 8;
}

/* two */
.two133 {
  grid-area: 2 / 1 / 3 / 3;
}
.two334 {
  grid-area: 2 / 3 / 3 / 4;
}
.two435 {
  grid-area: 2 / 4 / 3 / 5;
}
.two536 {
  grid-area: 2 / 5 / 3 / 6;
}
.two638{
  grid-area: 2 / 6 / 3 / 8;
}

/* three */
.three133{
  grid-area: 3 / 1 / 3 / 3;
}
.three344 {
  grid-area: 3 / 3 / 4 / 4;
}
.three445 {
  grid-area: 3 / 4 / 4 / 5;
}
.three546 {
  grid-area: 3 / 5 / 4 / 6;
}
.three648{
  grid-area: 3 / 6 / 4 / 8;
}

/* four */
.four153{
  grid-area: 4 / 1 / 5 / 3;
}
.four354 {
  grid-area: 4 / 3 / 5 / 4;
}
.four455 {
  grid-area: 4 / 4 / 5 / 5;
}
.four556 {
  grid-area: 4 / 5 / 5 / 6;
}
.four658 {
  grid-area: 4 / 6 / 5 / 8;
}

/* five */
.five163 {
  grid-area: 5 / 1 / 6 / 3;
}
.five364 {
  grid-area: 5 / 3 / 6 / 4;
}
.five465 {
  grid-area: 5 / 4 / 6 / 5;
}
.five566 {
  grid-area: 5 / 5 / 6 / 6;
}
.five668 {
  grid-area: 5 / 6 / 6 / 8;
}

/* six */
.six173 {
  grid-area: 6 / 1 / 7 / 3;
}
.six376 {
  grid-area: 6 / 3 / 7 / 6;
}

/* seven */
.seven183 {
  grid-area: 7 / 1 / 8 / 3;
}
.seven386 {
  grid-area: 7 / 3 / 8 / 6;
}
.seven688 {
  grid-area: 7 / 6 / 8 / 8;
}
.seven787 {
  grid-area: 7 / 7 / 8 / 7;
  height: 75px;
}

/* eight */
.eight183 {
  grid-area: 8 / 1 / 8 / 3;
}
.eight386 {
  grid-area: 8 / 3 / 8 / 6;
}
.eight688 {
  grid-area: 8 / 6 / 8 / 8;
}
