/* @font-face {
  src: url("Marsh.otf");
  font-family: marsh;
  font-weight: 100;

} */

/* reset---------- */
* {
  margin: 0;
  padding: 0;
  background-color: #bbb;
  }

/* aaaaa---------- */
a {
  text-decoration: none;
  color: red;
}


/* bbbbb---------- */
#back {
  background-color: red;
  color: white;
}

#back, #send, #ccempLink {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 0;
  border-radius: 10px;
}

.backTo {
  margin: 1rem auto;
  background-color: yellow;
  border-radius: 10px;
  width: 75%;
  border: 2px solid #00f;
}

.backTo a, .backTo a:link, .backTo a:visited, .backTo a:hover, .backTo a:active {
  background-color: yellow;
  color: blue;
  text-decoration: none;
}

.baseTime {
  /* padding-top: .5em; */
  margin: auto 0;
  text-align: left;
  font-size: 3em;
  font-weight: bold;
}

#birthday { 
  font-size: 3em;
  width: 70%;
  padding: .5rem;
  background-color: #eee;
}

.birthLabel {
  font-size: 3rem;
  padding-left: .5em;

}

body {
  margin-left: 5em;
  margin-top: 2em;
}

body, input, textarea, button, select {
  font-family: 'Julius Sans One', sans-serif;
  font-display: auto;
}

 body.center hr, body.center input, body.center select {
  border: 1px solid #00f;
}

body.center hr {
  height: 0;
}

.box {
  border-radius: 25px;
   height: 9rem;
   font-size: 4rem;
}

button {
  outline:none;
}


/* ccccc---------- */
#cancel, #OK, {
  text-align: center;
  font-size: 3.5em;
  padding-top: .1em;
  border-radius: 25px;
}

#cancel {
  background-color: red;
  color: white;
}

#ccempLink {
  background-color: #ddd;
}

#ccempLink a {
  background-color: #ddd;
}

.center {
  text-align: center;
  margin: 2rem 1rem;
}



/* ddddd---------- */
.disclaimer {
  font-size: 1em;
}

/* eeeee---------- */

/* fffff---------- */
footer {
  text-align: center;
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
}

footer a {
  text-decoration: none;
}

footer.nine1108 {
  font-size: 2em;
}

form input, form textarea {
  font-size: 1rem;
   margin: 0 auto;
   border-radius: 10px;
}

form input, form input:focus {
  outline:none;
 margin-bottom: .5rem;
  padding: .5rem;
  width: 75%;
}

form textarea {
  width: 75%;
  padding: 1rem .5rem;
}

.fs2 {
  font-size: 2em;
}

/* ggggg---------- */

/* hhhhh---------- */
hr {
  border: 0;
  border-top: 2px solid #00f;
  display: block;
  height: 1px;
  margin: 0.5em 0;
  padding: 0;
}

/* iiiii---------- */
input, select {
  border: 2px solid #00f;
  border-radius: 20px;
  box-shadow: none;
  background-color: #eee;
}

input {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
  width: 20rem;

}

input:focus {
  border: 2px solid #00f;
  background-color: yellow;
  outline:none;
}


/* jjjjj---------- */

/* kkkkk---------- */

/* lllll---------- */
.labelBox {
  margin-left: 0.5em;
}

#letMeNo {
  background-color: #fff;
  color: #333;
  border-radius: 10px;

}

/* mmmmm---------- */

/* nnnnn---------- */
#name {
  width: 100%;
  font-size: 4rem;
  height: 6rem;
  text-indent: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  /* background-color: #eee; */
}

#name::placeholder {
  font-size: 4rem;
  text-indent: 1rem;
}

/* ooooo---------- */
#OK {
  background-color: green;
  color: white;
}

/* ppppp---------- */
.push {
  position: relative;
  left: 2px;
  bottom: 2px;
  background-color: lightblue;
}

/* qqqqq---------- */

/* rrrrr---------- */

/* sssss---------- */
#send {
  background-color: green;
  color: white;
}

#sent {
  margin: 0 auto;
}

.small {
  font-size: .7rem;
}

/* ttttt---------- */
textarea {
  border: 1px solid #00f;
  border-radius: 25px;
  font-size: 4rem;
  font-weight: bold;
  resize: none;
  text-align: center;
  text-shadow: none;
  width: 100%;
  padding: 2rem 1rem 0 1rem;
  background-color: #eee;
}

textarea:focus, textarea:focus::placeholder {
  background-color: yellow;
  outline:none;
}

textarea::placeholder {
font-size: 3rem;
}

#time {
  font-size: 2.5em;
  text-align: center;
  margin: auto;
  padding: 1em .75em;;
  border: 2px solid;
  border-radius: 25px;
  background-color: #eee;
}

.tiny {
  font-size: 10px;
}

#title {
  font-size: 4rem;
}


/* uuuuu---------- */

/* vvvvv---------- */

/* wwwww---------- */

/* xxxxx---------- */

/* yyyyy---------- */

/* zzzzz---------- */

/* miscs---------- */