/*
Stylesheet for <filename.html or website>
Your name:
*/
/* =r reset styles
------------------------------*/
* {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
/* =ab abbreviation
------------------------------*/
/* =ar article
------------------------------*/
/* =as aside
------------------------------*/
/* =b body
------------------------------*/
a {
  text-decoration: none;
  color: red;
}

body {
  margin: 75px;
}

body, input {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* =c classes
------------------------------*/

.borRed {
  border: 2px solid red;
}

.backTo {
  background-color: yellow;
  color: blue;
}

.center {
  text-align: center;
  /* align-items: center; */
}

hr {
  border: 0;
  border-top: 2px solid #000;
  display: block;
  height: 1px;
  margin: 0.5em 0;
  padding: 0;
}

.push {
  position: relative;
  left: 2px;
  bottom: 2px;
  background-color: lightblue;
}

.small {
  font-size: 15px;
}

.tiny {
  font-size: 10px;
}


/* =d divs
------------------------------*/
div label {
  font-size: 1.5em;
}
.baseTime {
  padding: .5em 0;
  text-align: left;
  font-size: 2em;
}

#name, #birthday {
  font-size: 2em;
}

.box {
  border: 2px solid;
  border-radius: 25px;
}

#time {
  font-size: 2.5em;
  text-align: center;
  padding-top: .38em;
  border-radius: 45px;
}

/* =ftr footer
------------------------------*/
.footer {
  text-align: center;
  font-size: 1.5em;
}
/* =frm form
------------------------------*/

input, select {
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: none;
  font-weight: 400;
  /* margin: auto; */
}

input::placeholder {
  color: #222;
  font-size: 15px;
  text-align: center;
}

 input[type=text], input[type=date] {
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: none;
  margin: 3px 0;
  font-size: 35px;
}

input[type=date] {
  width: 9em;
}

input[type=text] {
  width: 10em;
}

input[type=tel], input[type=email] {
 width: 100%;
}

input:focus {
  border: 2px solid #ff0000;
}

textarea {
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 2em;
  font-weight: bold;
  height: 90px;
  resize: none;
  text-align: center;
  text-shadow: none;
  width: 100%;
  padding-top:.5em;
  background-color: yellow;
}

textarea::placeholder {
  color: blue;
}

 #areport{
  font-size: 16px;
  width: 100%
}

#OK, #cancel {
  text-align: center;
  font-size: 3.5em;
  padding-top: .1em;
  border-radius: 25px;
}

#OK {
  background-color: green;
  color: white;
}

#cancel {
  background-color: red;
  color: white;
}

#back, #send {
  font-size: 20px;
  padding: 10px 25px;
  margin: 10px 0;
  border-radius: 15px;
}

#send {
  background-color: green;
  color: white;
}

#back {
  background-color: red;
  color: white;
}

.labelBox {
  margin-left: 0.5em;
}

/* =hd header
------------------------------*/
/* =h headings (h1, h2, etc.)
------------------------------*/
/* =i images
------------------------------*/
/* =lk links
------------------------------*/
/* =l lists
------------------------------*/
/* =n nav (navigation)
------------------------------*/
/* =p paragraphs
------------------------------*/
/* =s section
------------------------------*/
/* =sup sup
------------------------------*/
/* =t tables
------------------------------*/
/* =txt text
------------------------------*/
/* media queries
------------------------------*/
